
@font-face {
  font-family: Colfax-Medium;
  src: url(colfaxMedium.ttf);
}

@font-face {
  font-family: Colfax-Light;
  src: url(colfaxLight.ttf);
}

@font-face {
  font-family: Colfax;
  src: url(colfaxRegular.ttf);
}

@font-face {
  font-family: Colfax-Bold;
  src: url(colfaxBold.ttf);
}

@font-face {
  font-family: Colfax-RegularItalic;
  src: url(colfaxRegularItalic.ttf);
}

@font-face {

  font-family: Rubik-Regular;
  src: url(Rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik-Light;
  src: url(Rubik/Rubik-Light.ttf);
}

@font-face {
  font-family: RubikB;
  src: url(Rubik/Rubik-Semibold.ttf);
}

@font-face {
  font-family: Rubik-Italic;
  src: url(Rubik/Rubik-Italic.ttf);
}


@font-face {
  font-family: Colfax-Medium, Rubik-Regular, Helvetica, sans-serif;
  src: url(colfaxMedium.ttf);
}

@font-face {
  font-family: Colfax-Light, Rubik-Light, Helvetica, sans-serif;
  src: url(colfaxLight.ttf);
}

@font-face {
  font-family: Colfax, Rubik-Regular, Helvetica, sans-serif;
  src: url(colfaxRegular.ttf);
}

@font-face {
  font-family: Colfax-Bold, RubikB, Helvetica, sans-serif;
  src: url(colfaxBold.ttf);
}

@font-face {
  font-family: Colfax-RegularItalic, Rubik-Italic, Helvetica, sans-serif;
  src: url(colfaxRegularItalic.ttf);
}

@font-face {

  font-family: Rubik-Regular;
  src: url(Rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik-Light;
  src: url(Rubik/Rubik-Light.ttf);
}

@font-face {
  font-family: RubikB;
  src: url(Rubik/Rubik-Semibold.ttf);
}

@font-face {
  font-family: Rubik-Italic;
  src: url(Rubik/Rubik-Italic.ttf);
}

.text a:hover {
  color: rgb(185, 185, 185);
}

body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(0, 0, 0);
  font: 400 0.875em/1.38 Colfax, Rubik-Regular, Helvetica, sans-serif;
  color: rgb(238, 238, 238);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container {
  position: absolute;
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container .image {
  top: 0;
  z-index: 4;
  width: 624px;
}

.element {
  position: absolute;
  top: 10435px;
  left: 0;
  right: 0;
  z-index: 0;
  width: 42.8888888888%;
  min-width: none;
  height: 445px;
  min-height: nonepx;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.image {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  min-width: none;
  height: auto;
  min-height: nonepx;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.paragraph {
  position: absolute;
  left: 0;
  right: 0;
  width: 47.5555555555%;
  min-width: none;
  min-height: 230px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1em;
  color: rgb(238, 238, 238);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.paragraph p,
.text-8 p {
  margin-bottom: 1em;
}

.text {
  position: absolute;
  min-width: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container-1 {
  top: 297px;
  left: 0;
  right: 0;
  z-index: 11;
  width: 47.5555555555%;
  height: 96px;
  margin: 0 auto;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 14px;
}

.container-2 {
  top: 145px;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 176px;
}

.container-3 {
  top: 481px;
  left: 0;
  right: 0;
  z-index: 5;
  width: 624px;
  height: 357px;
  margin: 0 auto;
}

.image-1 {
  top: 7960px;
  z-index: 27;
  width: 64.6657986111%;
}

.image-2 {
  top: 2203px;
  z-index: 15;
  width: 674px;
}

.image-3 {
  top: 1458px;
  z-index: 12;
  width: 962px;
}

.image-4 {
  top: 4184px;
  z-index: 6;
  width: 98.6070381231%;
}

.paragraph-1 {
  top: 10053px;
  z-index: 33;
}

.paragraph-10 {
  top: 1832px;
  z-index: 14;
}

.paragraph-11 {
  top: 1264px;
  z-index: 13;
}

.paragraph-12 {
  top: 862px;
  z-index: 2;
}

.paragraph-2 {
  top: 9404px;
  z-index: 30;
}

.paragraph-3 {
  top: 8784px;
  z-index: 28;
}

.paragraph-4 {
  top: 7373px;
  z-index: 26;
}

.paragraph-5 {
  top: 6743px;
  z-index: 24;
}

.paragraph-6 {
  top: 5834px;
  z-index: 22;
}

.paragraph-7 {
  top: 5604px;
  z-index: 20;
}

.paragraph-8 {
  top: 3726px;
  z-index: 19;
}

.paragraph-9 {
  top: 3220px;
  z-index: 16;
}

.text-1 {
  top: 10010px;
  left: 0;
  right: 0;
  z-index: 32;
  width: 47.5598958333%;
  min-height: 54px;
  margin: 0 auto;
  font-size: 1.571em;
  color: rgb(255, 255, 255);
}

.text-10 {
  top: 82px;
  left: 38.7921875%;
  z-index: 8;
  min-height: nonepx;
  font-family: Colfax-RegularItalic, Rubik-Italic, Helvetica, sans-serif;
  font-size: 1.429em;
  font-weight: normal;
  color: rgb(217, 217, 217);
}

.text-11 {
  top: 37px;
  left: 26.0060763888%;
  z-index: 7;
  min-height: nonepx;
  font-family: Colfax-Light, Rubik-Light, Helvetica, sans-serif;
  font-size: 5.071em;
  font-weight: normal;
  color: rgb(241, 241, 241);
}

.text-12 {
  bottom: 44px;
  left: 0;
  z-index: 3;
  width: 100%;
  min-height: 27px;
  font-style: normal;
  font-size: 0.857em;
  color: rgb(238, 238, 238);
}

.text-13 {
  top: 412px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 47.5555555555%;
  min-height: 48px;
  margin: 0 auto;
  font-style: normal;
  font-size: 1em;
  color: rgb(237, 237, 237);
}

.text-2 {
  top: 9315px;
  left: 0;
  right: 0;
  z-index: 31;
  width: 47.5598958333%;
  min-height: 54px;
  margin: 0 auto;
  font-family: Colfax-Medium, Rubik-Regular, Helvetica, sans-serif;
  font-size: 1.571em;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.text-3 {
  top: 9350px;
  left: 0;
  right: 0;
  z-index: 29;
  width: 47.5598958333%;
  min-height: 54px;
  margin: 0 auto;
  font-size: 1.571em;
  color: rgb(255, 255, 255);
}

.text-4 {
  top: 7319px;
  left: 0;
  right: 0;
  z-index: 25;
  width: 47.5598958333%;
  min-height: 54px;
  margin: 0 auto;
  font-size: 1.571em;
  color: rgb(255, 255, 255);
}

.text-5 {
  top: 6689px;
  left: 0;
  right: 0;
  z-index: 23;
  width: 47.5598958333%;
  min-height: 54px;
  margin: 0 auto;
  font-size: 1.571em;
  color: rgb(255, 255, 255);
}

.text-6 {
  top: 5780px;
  left: 0;
  right: 0;
  z-index: 21;
  width: 47.5598958333%;
  min-height: 54px;
  margin: 0 auto;
  font-size: 1.571em;
  color: rgb(255, 255, 255);
}

.text-7 {
  top: 3658px;
  left: 0;
  right: 0;
  z-index: 18;
  width: 47.56%;
  min-height: 54px;
  margin: 0 auto;
  font-size: 1.571em;
  color: rgb(255, 255, 255);
}

.text-8 {
  top: 1033px;
  left: 0;
  right: 0;
  z-index: 17;
  width: 42%;
  min-height: nonepx;
  margin: 0 auto;
  font-family: Colfax-RegularItalic, Rubik-Italic, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: rgb(235, 235, 235);
}

.text-9 {
  top: 16px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 98%;
  min-height: nonepx;
  margin: 0 auto;
  padding: 2px;
  font-style: italic;
  font-size: 1em;
  color: rgb(158, 158, 158);
}

.paragraph a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: Medium;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(59, 152, 228);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.paragraph a:hover {
  color: rgb(93, 175, 241);
}

.paragraph em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.paragraph span,
.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.paragraph strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: Medium;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.paragraph-10 em,
.paragraph-11 em,
.paragraph-12 em {
  font-weight: inherit;
}

.paragraph-1 em,
.paragraph-2 em,
.paragraph-3 em,
.paragraph-4 em,
.paragraph-5 em,
.paragraph-6 em,
.paragraph-7 em,
.paragraph-8 em,
.paragraph-9 em {
  font-weight: Bold;
}

@media(max-width: 1800px) {
  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 10410px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    left: 40.4704261025%;
    width: 34.6%;
  }

  .container .text-12 {
    bottom: 8.953125px;
  }

  .container .text-9 {
    top: 19px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container-1 {
    left: 0;
    right: 0;
    width: 47%;
    height: 105px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-3 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 7829px;
  }

  .image-2 {
    top: 2232px;
  }

  .image-3 {
    top: 1534px;
  }

  .paragraph-1 {
    top: 9977px;
  }

  .paragraph-10 {
    top: 1908px;
  }

  .paragraph-11 {
    top: 1340px;
    width: 47.56%;
  }

  .paragraph-12 {
    width: 47.56%;
  }

  .paragraph-2 {
    top: 9255px;
  }

  .paragraph-3 {
    top: 8588px;
  }

  .paragraph-4 {
    top: 7177px;
  }

  .paragraph-5 {
    top: 6547px;
  }

  .paragraph-6 {
    top: 5638px;
  }

  .paragraph-7 {
    top: 5408px;
  }

  .paragraph-8 {
    top: 3802px;
  }

  .paragraph-9 {
    top: 3296px;
  }

  .text-1 {
    top: 9934px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-13 {
    top: 414px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-2 {
    top: 9166px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-3 {
    top: 9201px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-4 {
    top: 7123px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-5 {
    top: 6493px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5584px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-7 {
    top: 3734px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    top: 1074px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 1678px) {
  body {
    font-size: 0.875em;
  }

  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 10239px;
    left: 0;
    right: 0;
    width: 42.888669547%;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    width: 55%;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 80px;
    left: 39.8923611111%;
    width: 40.6%;
  }

  .container .text-12 {
    bottom: 11px;
  }

  .container .text-9 {
    top: 13px;
    left: 0;
    right: 0;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }

  .container-1 {
    left: 0;
    right: 0;
    height: 115px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-2 {
    left: 0.000931168%;
  }

  .container-3 {
    top: 504px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 7791px;
    width: 80%;
  }

  .image-2 {
    top: 2260px;
  }

  .image-4 {
    top: 4240px;
  }

  .paragraph-10 {
    top: 1902px;
  }

  .paragraph-3 {
    top: 8635px;
  }

  .paragraph-6 {
    top: 5627px;
  }

  .paragraph-8 {
    top: 3788px;
  }

  .paragraph-9 {
    top: 3380px;
  }

  .text-13 {
    top: 445px;
    left: 0;
    right: 0;
    width: 47%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-1,
  .text-2,
  .text-3,
  .text-4,
  .text-5,
  .text-6,
  .text-7 {
    left: 0;
    right: 0;
    width: 55%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    top: 1097px;
    left: 0;
    right: 0;
    width: 51.1978097193%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 1461px) {
  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    left: 0;
    right: 0;
    width: 42.8880047912%;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    left: 42.4922997946%;
    width: 50.6%;
  }

  .container .text-9 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container-1 {
    top: 291px;
    left: 0;
    right: 0;
    width: 55%;
    height: 118px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-2 {
    left: 0.0010694729%;
  }

  .container-3 {
    top: 505px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 7723px;
  }

  .image-2 {
    top: 2364px;
  }

  .image-4 {
    top: 4330px;
  }

  .paragraph-3 {
    top: 8529px;
  }

  .paragraph-5 {
    top: 6546px;
  }

  .text-1,
  .text-13,
  .text-2,
  .text-3,
  .text-4,
  .text-5,
  .text-6,
  .text-7 {
    left: 0;
    right: 0;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    top: 1063px;
    left: 0;
    right: 0;
    width: 53.2%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 1364px) {
  body {
    font-size: 0.875em;
  }

  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    left: 0;
    right: 0;
    width: 42.8885630498%;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 79px;
    left: 46.817723607%;
  }

  .container .text-12 {
    bottom: 10px;
  }

  .container .text-9 {
    top: 6px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.857em;
  }

  .container-1 {
    top: 297px;
    left: 0;
    right: 0;
    width: 47%;
    height: 87px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-2 {
    left: 0.0011455278%;
  }

  .image-1 {
    top: 7791px;
  }

  .paragraph-7 {
    top: 5354px;
  }

  .container-3,
  .text-1,
  .text-13,
  .text-2,
  .text-3,
  .text-4,
  .text-5,
  .text-6,
  .text-7 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    left: 0;
    right: 0;
    width: 65.2%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 1149px) {
  .container .image {
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    left: 0;
    right: 0;
    width: 42.8878372497%;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 72px;
    left: 32.9865644038%;
  }

  .container .text-11 {
    top: 30px;
    left: 10.8613468233%;
  }

  .container .text-12 {
    bottom: 8.953125px;
  }

  .container .text-9 {
    top: 15px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
  }

  .container-1 {
    left: 0;
    right: 0;
    width: 79.0252393385%;
    height: 103px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-3 {
    top: 480px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 7675px;
    width: 100%;
  }

  .image-3 {
    top: 1504px;
    width: 90%;
  }

  .image-4 {
    top: 4217px;
  }

  .paragraph-3 {
    top: 8427px;
  }

  .paragraph-4 {
    top: 7086px;
  }

  .paragraph-5 {
    top: 6369px;
  }

  .paragraph-6 {
    top: 5334px;
  }

  .paragraph-7 {
    top: 4997px;
  }

  .text-13 {
    top: 414px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-4 {
    top: 7032px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-5 {
    top: 6315px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5280px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-1,
  .text-2,
  .text-3,
  .text-7 {
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 1035px) {
  body {
    font-size: 0.875em;
  }

  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 10672px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 73px;
    left: 38.2073252688%;
  }

  .container .text-12 {
    bottom: 22.71875px;
  }

  .container .text-9 {
    top: 11px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container-1 {
    left: 0;
    right: 0;
    width: 81%;
    margin-right: auto;
    margin-left: auto;
  }

  .container-3 {
    top: 504px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-3 {
    top: 1534px;
  }

  .image-4 {
    top: 4330px;
  }

  .paragraph-6 {
    top: 5410px;
  }

  .paragraph-7 {
    top: 5123px;
  }

  .text-1,
  .text-13,
  .text-2,
  .text-3,
  .text-4,
  .text-5,
  .text-7,
  .text-8 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5356px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 930px) {
  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 10410px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 74px;
  }

  .container .text-12 {
    bottom: 112.71875px;
  }

  .container-1 {
    top: 276px;
    left: 0;
    right: 0;
    width: 79.0252393385%;
    margin-right: auto;
    margin-left: auto;
  }

  .container-3 {
    top: 503px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 8036px;
  }

  .image-4 {
    top: 4343px;
  }

  .paragraph-1 {
    top: 10240px;
  }

  .paragraph-12 {
    top: 844px;
  }

  .paragraph-2 {
    top: 9409px;
  }

  .paragraph-3 {
    top: 8681px;
  }

  .paragraph-4 {
    top: 7313px;
  }

  .paragraph-5 {
    top: 6546px;
  }

  .paragraph-6 {
    top: 5460px;
  }

  .paragraph-7 {
    top: 5073px;
  }

  .text-1 {
    top: 10194px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-9,
  .text-13,
  .text-7,
  .text-8 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-2 {
    top: 9320px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-3 {
    top: 9355px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-4 {
    top: 7259px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-5 {
    top: 6492px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5406px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 839px) {
  body {
    font-size: 0.875em;
  }

  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 11121px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-9,
  .container-3,
  .paragraph,
  .text-1,
  .text-13,
  .text-2,
  .text-3,
  .text-4,
  .text-5,
  .text-6,
  .text-7,
  .text-8 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 73px;
    left: 43.8077324195%;
  }

  .container-1 {
    top: 284px;
    left: 0;
    right: 0;
    width: 87.0151770657%;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 8008px;
  }

  .image-2 {
    top: 2308px;
  }

  .image-4 {
    top: 4401px;
  }
}

@media(max-width: 757px) {
  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 10672px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 82px;
    left: 39.9397291941%;
    font-size: 1em;
  }

  .container .text-11 {
    top: 50px;
    left: 10.8611294583%;
    font-size: 3.571em;
  }

  .container .text-9 {
    top: 8px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container-1 {
    top: 276px;
    left: 0;
    right: 0;
    width: 83.9%;
    margin-right: auto;
    margin-left: auto;
    border-color: rgb(0, 0, 0);
  }

  .container-3 {
    left: 0;
    right: 0;
    width: 87.8%;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 8097px;
  }

  .image-2 {
    top: 2363px;
    width: 89.035667107%;
  }

  .image-4 {
    top: 4489px;
  }

  .paragraph-10 {
    top: 1908px;
  }

  .paragraph-11,
  .paragraph-12 {
    width: 88%;
  }

  .paragraph-3 {
    top: 8626px;
  }

  .paragraph-6 {
    top: 5410px;
  }

  .paragraph-8 {
    top: 3802px;
  }

  .paragraph-9 {
    top: 3341px;
  }

  .text-1,
  .text-13,
  .text-2,
  .text-3,
  .text-4,
  .text-5,
  .text-7 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5356px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    top: 1074px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 667px) {
  body {
    font-size: 0.875em;
  }

  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 11121px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    left: 39.58%;
  }

  .container .text-12 {
    bottom: 61.71875px;
  }

  .container-1 {
    top: 283px;
    left: 0;
    right: 0;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

  .container-3 {
    top: 504px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 8404px;
  }

  .image-2 {
    top: 2480px;
  }

  .image-3 {
    top: 1620px;
  }

  .image-4 {
    top: 4552px;
  }

  .paragraph-1 {
    top: 10689px;
  }

  .paragraph-10 {
    top: 1902px;
  }

  .paragraph-11 {
    top: 1390px;
  }

  .paragraph-2 {
    top: 9818px;
  }

  .paragraph-3 {
    top: 8846px;
  }

  .paragraph-4 {
    top: 7620px;
  }

  .paragraph-5 {
    top: 6728px;
  }

  .paragraph-6 {
    top: 5460px;
  }

  .paragraph-7 {
    top: 5123px;
  }

  .paragraph-8 {
    top: 3852px;
  }

  .paragraph-9 {
    top: 3380px;
  }

  .text-1 {
    top: 10643px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-9,
  .text-13 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-2 {
    top: 9729px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-3 {
    top: 9764px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-4 {
    top: 7566px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-5 {
    top: 6674px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5406px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-7 {
    top: 3784px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    top: 1097px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 593px) {
  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 11616px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    left: 42.9516231028%;
  }

  .container-1 {
    top: 276px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 8838px;
  }

  .image-2 {
    top: 2624px;
  }

  .image-3 {
    top: 1698px;
  }

  .image-4 {
    top: 4690px;
  }

  .paragraph-1 {
    top: 11222px;
  }

  .paragraph-10 {
    top: 1980px;
  }

  .paragraph-11 {
    top: 1468px;
  }

  .paragraph-2 {
    top: 10220px;
  }

  .paragraph-3 {
    top: 9247px;
  }

  .paragraph-4 {
    top: 7934px;
  }

  .paragraph-5 {
    top: 6966px;
  }

  .paragraph-6 {
    top: 5554px;
  }

  .paragraph-7 {
    top: 5201px;
  }

  .paragraph-8 {
    top: 3930px;
  }

  .paragraph-9 {
    top: 3458px;
  }

  .text-1 {
    top: 11176px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-9,
  .container-3,
  .text-13 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-2 {
    top: 10131px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-3 {
    top: 10166px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-4 {
    top: 7880px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-5 {
    top: 6912px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5477px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-7 {
    top: 3862px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    top: 1128px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 506px) {
  body {
    font-size: 0.875em;
  }

  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 12211px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 83px;
    width: 55%;
    font-size: 0.857em;
  }

  .container .text-11 {
    left: 7.1053606719%;
  }

  .container .text-12 {
    bottom: 112.71875px;
  }

  .container .text-9 {
    top: 11px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container-3 {
    top: 564px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 9403px;
  }

  .image-2 {
    top: 2850px;
  }

  .image-3 {
    top: 1892px;
  }

  .image-4 {
    top: 5013px;
  }

  .paragraph-1 {
    top: 11895px;
  }

  .paragraph-10 {
    top: 2113px;
  }

  .paragraph-11 {
    top: 1601px;
  }

  .paragraph-2 {
    top: 10817px;
  }

  .paragraph-3 {
    top: 9771px;
  }

  .paragraph-4 {
    top: 8458px;
  }

  .paragraph-5 {
    top: 7375px;
  }

  .paragraph-6 {
    top: 5787px;
  }

  .paragraph-7 {
    top: 5434px;
  }

  .paragraph-8 {
    top: 4163px;
  }

  .paragraph-9 {
    top: 3591px;
  }

  .text-1 {
    top: 11849px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-13 {
    top: 445px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-2 {
    top: 10728px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-3 {
    top: 10763px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-4 {
    top: 8404px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-5 {
    top: 7321px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5710px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-7 {
    top: 4095px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    top: 1196px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 435px) {
  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 13470px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    top: 75px;
    left: 49.845545977%;
    width: 41.6%;
  }

  .container-1 {
    top: 259px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 10257px;
  }

  .image-2 {
    top: 2957px;
  }

  .image-3 {
    top: 1930px;
  }

  .image-4 {
    top: 5233px;
  }

  .paragraph-1 {
    top: 13025px;
  }

  .paragraph-10 {
    top: 2133px;
  }

  .paragraph-2 {
    top: 11781px;
  }

  .paragraph-3 {
    top: 10556px;
  }

  .paragraph-4 {
    top: 9118px;
  }

  .paragraph-5 {
    top: 7866px;
  }

  .paragraph-6 {
    top: 6040px;
  }

  .paragraph-7 {
    top: 5562px;
  }

  .paragraph-8 {
    top: 4291px;
  }

  .paragraph-9 {
    top: 3611px;
  }

  .text-1 {
    top: 12979px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-9,
  .container-3,
  .text-13,
  .text-8 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-2 {
    top: 11692px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-3 {
    top: 11727px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-4 {
    top: 9064px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-5 {
    top: 7812px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 5963px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-7 {
    top: 4223px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 367px) {
  body {
    font-size: 0.875em;
  }

  .container .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .element {
    top: 14269px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-10 {
    left: 58.4000340599%;
  }

  .container .text-12 {
    bottom: 176.71875px;
  }

  .container .text-9 {
    top: 8px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.857em;
  }

  .container-1 {
    top: 261px;
    left: 0;
    right: 0;
    width: 86.9209809264%;
    height: 165px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-3 {
    top: 599px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-1 {
    top: 10816px;
  }

  .image-2 {
    top: 3191px;
  }

  .image-3 {
    top: 2084px;
  }

  .image-4 {
    top: 5492px;
  }

  .paragraph-1 {
    top: 13760px;
  }

  .paragraph-10 {
    top: 2269px;
  }

  .paragraph-11 {
    top: 1737px;
  }

  .paragraph-2 {
    top: 12351px;
  }

  .paragraph-3 {
    top: 11066px;
  }

  .paragraph-4 {
    top: 9599px;
  }

  .paragraph-5 {
    top: 8209px;
  }

  .paragraph-6 {
    top: 6292px;
  }

  .paragraph-7 {
    top: 5814px;
  }

  .paragraph-8 {
    top: 4427px;
  }

  .paragraph-9 {
    top: 3747px;
  }

  .text-1 {
    top: 13714px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.286em;
  }

  .text-13 {
    top: 455px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-2 {
    top: 12262px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-3 {
    top: 12297px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-4 {
    top: 9545px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.429em;
  }

  .text-5 {
    top: 8155px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-6 {
    top: 6215px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-7 {
    top: 4359px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text-8 {
    top: 1275px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
